@import url("../../assets/css/gotham/stylesheet.css");
.header.header-filter:after {
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-image: url("../../assets/img/candidatos2.png");
    content: " ";
}
h1, h2, h3, h4, .h1, .h2, .h3, .h4,.gotham{font-family: 'GothamRoundedBold'}
body,h5, h6,{font-family: 'GothamRoundedMedium'}
.landing-page .header {
    height: 80vh;
}
.landing-page .header .container {
    padding-top: 11vh;
  }
  .landing-page .navbar-transparent, .profile-page .navbar-transparent, .signup-page .navbar-transparent, .index-page .navbar-transparent {
    padding-top: 15px;
}
h2.title {
    margin-top: 0;
}
.quienes_ano {
    font-family: 'GothamRoundedBook';
    color: #fbc02d;
    font-size: .9em;
    line-height: .8em;
    display: block;
}
.amarillo{color: #ffb400;}
.lowpoly{background-image: url('../img/bg.jpg'); }
.lowpoly .title{color:white;}
.section.text-center.lowpoly {
    padding: 70px 4em;
}
.propuesta {
    font-size: 2.7em;
    text-align: left;
    color: white;
    line-height: 1em;
}

@media (max-width: 991px){
    .landing-page .header .container {
          padding-bottom: 70px;
    }
    .nombres{font-size: 2.7vw;
    line-height: 3vh;}
    .landing-page .header {
    height: 95vh;
    min-height: 1vh;
}
.ajustemv{padding-left: inherit!important}
.fbvideo{    width: 100%;
    height: inherit;}
    .section.text-center.section-landing {
    padding-top: 1em;
}
.section.text-center.lowpoly {
    padding: 1.5em;
}
.lowpoly .propuesta {
    font-size: 2em;
    padding-bottom: 1.2em;
}
.section-landing iframe{width:100%!important;}
.team {
    margin-top: 0!important;
    padding: 1em!important;
}
h2.title {
      margin-top: 1em;
    line-height: 1em;
    font-size: 2.5em;
}
    .landing-page .navbar-transparent, .profile-page .navbar-transparent, .signup-page .navbar-transparent, .index-page .navbar-transparent{    background: rgba(0,0,0,0);}
}


@media (max-width: 991px) {
.landing-page .header {
    height: 105vh;
}
.ajustemv {
    width: 100%;
}
.fbvideo iframe{height: 30vh;}
/*    .spacer {display: none!important;}
    .candidatos {
    width: 100%;
}
*/


}
.legendipad{display: none;}

@media (min-width: 768px) and (max-width: 1024px) {
    .col-sm-6.candidatos {
        width: 100%;
    }
    .section-landing .col-md-6 {
        width: 100%;
    }
}
@media (min-width: 768px)  and (orientation:portrait){
.landing-page .header {
    height: 104vh;
}
}
@media (min-width: 992px) and (max-width: 1024px){
  /*IPAD y Pantallas Raras*/
   .largeview .col-md-10 {
        width: 50%;
    }
    .legendipad{display: block;}
    .landing-page .header {
          height: 100vh;
      }
     .spacer,.legend{display: none!important}
}
@media (max-width: 991px) and (orientation: landscape) {
      .landing-page .header {
          height: 128vh;
      }
      .nombres {
          font-size: 1.3vw;
          line-height: 4vh;
      }
      .legend{display: none!important}
      .spacer{display: none!important}
      .ajustemv {
          width: 52%;
      }
      .fbvideo iframe{height: 90vh;}
      /*    .spacer {display: none!important;}
          .candidatos {
          width: 100%;
      }
      */



}